@charset "UTF-8";
/* ----- base ----- */
html {
 font-size: 16px; 

}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.8rem;
  font-size: 1rem;
  font-family: 'Averia Serif Libre','Hiragino Mincho ProN' ,serif;
  text-align: center;
  background-image: url(/img/bg-pattern.jpg);
  background-repeat: repeat;
  
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

.sp {
  display: none;
}



 @media screen and (max-width:768px){
.body {
  text-align: left;
}   

.pc{
  display: none;
}

}


/* ----- header ----- */
.header{
  /* 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto; */
}

.header-inner{
  width: 100%; 
  padding: 2rem 2.5rem;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.logo a{
  font-size: 1rem;
  color: #fff;
}

/* ハンバーガーボタン */
.header-hum {
  position: fixed; /* header内で絶対配置 */
  top: 20px;
  right: 20px;
  display: block;
  width: 66px;
  height: 66px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.header-hum span {
  display: block;
  height: 1px;
  width: 30px;
  background-color: #fff;
  margin: 0 auto;
  transition: 1s;
}

.header-hum span:nth-child(1) {
  margin-bottom: 8px;
}

.header-hum span:nth-child(2) {
  margin-top: 8px;
}


/* ハンバーガーボタン active */
.header-hum.active span:nth-child(1) {
   transform: rotate(20deg) translateY(5px);
}

.header-hum.active span:nth-child(2) {
   transform: rotate(-20deg) translateY(-5px);
}


/* ナビゲーション */
.header_nav {
  display: none;
}


/* ナビゲーション active */
.header_nav.active{
  display: block;
  position: fixed;
  background-color: #5a371467;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.header_nav ul {
  display: block;
  position: relative;
  background-color: #231507;
  float: right;
  width: 80%;
  height: 100vh;
  padding: 140px;
  opacity: 1;
}

.header_nav li {
  text-align: left;
  margin-bottom: 2rem;
}

.header-sns {
  display: flex;
  gap: 36px;
}

.header-icon{
  height: 36px;
  width: auto;
}

.header-nav-item {
  color: #fff;
  font-size: 2rem;
}

.header-contact {
  color: #fff;
  border: 1px solid #fff;
  font-size: 1rem;
  padding: 16px 84px;
}



/* ----- KV ----- */
.kv {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/KV.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.kv-textbox {
  color: #fff;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kv-en {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 4rem;
}

  @media screen and (max-width:768px){

    .kv-textbox {
      text-align: left;
      left: 33px;
      transform: translateY(0);
    }
    }


/* ----- section-title ----- */

.section-title {
  font-size: 2.625rem;
  margin-bottom: 24px;
  line-height: 3rem;
}


  @media screen and (max-width:768px){
.section-title  {
  font-size: 3.2rem;
  margin-bottom: 32px;
  line-height: 3.6rem;
}   
}


/* ----- inner ----- */
.inner-960 {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.inner-1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

/* ----- ボタン viewmore ----- */
.btn-viewmore a {
  margin-top: 36px;
  font-family: "Hiragino Mincho ProN";
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border: 1px solid #333;
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 240px;
  padding: 10px 23px;
  cursor: pointer;
  z-index:100;
  transition: all 0.3s;
  text-align: left;
}

.btn-viewmore a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  width: 60px;
  height: 1px;
  background: #333;
  transition: all 0.3s ease;
}

.btn-viewmore a:hover::after {
  animation: OutIn-Line 700ms;
  transition: all 0.3s;
}

@keyframes OutIn-Line {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0
    }

    50% {
        -webkit-transform: scale3d(0,1,1);
        transform: scale3d(0,1,1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0
    }

    50.1% {
        -webkit-transform: scale3d(0,1,1);
        transform: scale3d(0,1,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
}


/* ----- concept ----- */
.concept-wap{
  display: flex;
  justify-content: space-between;
  margin: 110px auto;
}

.concept-text{
  text-align: left;
  line-height: 2rem;
}


  @media screen and (max-width:768px){
.concept-wap {
  flex-direction: column;
  text-align: left;
}   
}



/* ----- healthyfood ----- */

#HealthyFood {
  position: relative;
  margin-top: 180px;
}

.healthyfood-wap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.healthyfood-wap::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.1;
  background: #6C4D38;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.healthyfood-textbox {
  width: 35%;
  text-align: left;
  margin: auto 2rem auto 0;
}

.healthyfood-img.pc {
  width: 65%;
  margin-top: -100px;
}


 @media screen and (max-width:768px){
  .healthyfood-img.sp {
    display: block;
    margin-bottom: 24px;
  }

  .healthyfood-textbox {
    width: 100%;
    margin: 56px 0;
  }

  .healthyfood-text br {
    display: none;
  }
}


/* ----- menu ----- */
.menu-wap {
  position: relative;
  display: flex;
  text-align: left;
  margin: 130px auto;
}

.menu-textbox {
  margin: auto;
  text-align: left;
}

.menu-slick {
  align-items: center;
}


/* スライドアイテム */
.menu-item {
  max-width: 300px; /* 画像サイズの上限 */
  margin: 0 auto; /* 中央配置 */
  margin-right: 24px;
}

.menu-item img {
  width: 100%; /* 親要素に合わせる */
  height: auto; /* アスペクト比維持 */
}

.slick-slider {
  display: flex;
  right: 0;
  z-index: 980;
  width: 65%;
}


/* Slickの矢印 表示調整 */
.prev-arrow ,.next-arrow  {
  position: absolute;
  width: 42px;
  height: fit-content;
  margin: auto 0;
  z-index: 998;
}

.prev-arrow {
  margin-left: -10px;
}

.next-arrow {
  right: 5%;
   transform: scale(-1, 1);
}

@media screen and (max-width:768px){
  .menu-wap {
    flex-direction: column;
    margin-top: 80px;
  }

  .menu-textbox {
    width: 100%;
  }

  .menu-slick{
    max-width: 100%;
  }

  .slick-slider {
    width: 100%;
  }

  .prev-arrow {
  margin-left: 2%;
}

.next-arrow {
  right: 2%;
}

.menu-text br{
  display: none;
}
}


/* -----about ----- */
#about {
  position: relative;
}

.about-bg {
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

.about-textbox {
  position: absolute;
  top: 250px;
  color: #fff;
  width: 80%;
  background-color: #5a3714;
  padding: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.about-title {
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.about-text {
margin-bottom: 24px;
}

.about-link {
  color: #fff;
  margin-top: 36px;
  font-family: "Hiragino Mincho ProN";
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border: 1px solid #fff;
  display: block;
  position: relative;
  max-width: 240px;
  padding: 10px 23px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}


@media screen and (max-width:768px){
  .about-bg  {
    width: 100%;
    height: 600px;
  }

  .about-title{
    margin-bottom: 24px;
  }

  .about-text {
    font-style: 0.8rem;
  }

  .about-textbox {
    top: 240px;
  }
}

/* ----- recruit ----- */
.cta {
  display: flex;
  margin-top: 200px;
  gap: 1rem;
}

.cta-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  
}

.cta-link:hover {
  background: #6C4D38;
  mix-blend-mode: multiply;
}

.cta-textbox {
  position: absolute;
  z-index: 2;
  padding: 30px;
  text-align: left;
  bottom: 12px;
  color: #fff;
}

.cta-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.cta-text {
  color: #FFF;
  font-family: "Hiragino Mincho ProN";
  font-size: 0.9rem;
  line-height: 1.5rem; /* 166.667% */
}


@media screen and (max-width:768px){
  .cta {
    flex-direction: column;
    margin-top: 140px;
    gap: 0;
    padding: 0;
  }

  .cta-link {
    position: relative;
    display: block;
  }

  .blog-img.sp , .recruit-img.sp {
    display: block;
    width: 100vw;
    height: 100%;
  }

  .cta-title {
    font-size: 2.8rem;
  }

}


/* ----- footer ----- */

footer {
  background-color: #333;
  text-align: center;
  color: #fff;
  text-align: left;
  padding: 65px 65px 0 65px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.footer-com-name {
  color: #FFF;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer-com-ac {
  font-size: 0.8rem;
  line-height: 1.5rem; /* 86.667% */
  letter-spacing: 0.1rem;
  font-family: "Hiragino Mincho ProN";
}

.footer-contact {
  margin-left: auto; /* 右側に寄せる */
}

.footer_nav ul{
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  align-items: center;
}

.footer-nav-item {
  color: #fff;
  font-size: 1rem;
}

.footer-sns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.footer-icon  {
  width: 24px;
  height: 23px;
}

.footer-contact {
  background-color: #fff;
  color: #333;
  margin-top: 16px;
  margin-right: 0;
  font-family: "Hiragino Mincho ProN";
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  display: block;
  max-width: 400px;
  padding: 12px 84px;
  cursor: pointer;
  text-align: center;
}

.copylight {
  font-size: 0.8rem;
  text-align: center;
  border-top: 0.5px solid #ffffff40;
  padding: 24px;
  font-family: "Hiragino Mincho ProN";
}


@media screen and (max-width:768px){


footer {
  padding: 56px 30px 0;
}

.footer-contents{
  flex-direction: column;
  text-align: center;
  margin-bottom: 64px;
}

.footer-com-ac {
  margin: 30px 0;
  font-size: 1rem;
}

.footer_nav ul {
  flex-direction: column;
  gap: 24px;
}

.footer-nav-item {
  font-size: 1.2rem;
}

.footer-sns {
  margin: 24px auto;
  gap: 24px;
}


.footer-contact {
  margin: 32px auto;
}

.copylight {
 padding: 24px 0 24px 0;
}


}